.product {
    width: 300px;
    height: 510px;
    margin-top: 120px;
    margin-left: 30px;
    border: 1px solid #95A0A7;
    border-radius: 8px;
    position: relative;
}

.product img {
    width: 290px;
    height: 286px;
    margin-left: 6px;
    border-radius: 8px;
}

.product-name {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 25px;
    letter-spacing: 0.0015em;
    color: #0E161A;
}

.product-info {
    margin: 0 14px;

}

.product-info p {
    margin-bottom: 0px;
    margin-top: 5px;
}

.btn-cart {
    width: 100%;
    background-color: #dc9ef6;
    border: none;
    border-radius: 0px 0px 8px 8px;
    position: absolute;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-text {
    margin-right: 8px;
}

.btn-cart:hover {
    background-color: rgb(76, 238, 68);
}