.header {
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 140px;
    padding-right: 140px;
    background-color: rgba(28, 43, 53, 1);
}

.header a {
    color: rgba(255, 255, 255, 1);
    text-decoration: none;
    font-size: 17px;
    margin-left: 36px;
}

.header a:hover {
    color: rgb(249, 147, 14);
}